html {
	scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
	-webkit-font-smoothing: antialiased;
}

h1, h3, h6 {
	font-family: montserrat;
}

h5, p {
	font-family: "Source Sans Pro";
	font-weight: normal;
}

h1 {
	font-weight: lighter;
	font-size: 56px;
}

h3 {
	font-size: 36px;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 0px;
}

h4 {
	font-family: Roboto;
	font-weight: 700;
	font-size: 80px;
	margin-bottom: 0px;
}

h5 {
	font-size: 24px;
}



p {
	font-size: 18px;
}

body {
	background-repeat: no-repeat;
	margin-top: 0px;
}

a {
	font-family: montserrat;
	display:table-cell;
	vertical-align: middle;
	font-size: 24px;
	font-weight: 500;
	margin: 0px;
}

a.small {
	font-size: 14px;
}

#topBar {
	display: table;
	top: 0;
	left: 0;
	position: fixed;
	margin-top: 0;
	height: 35px;
	background-color: white;
	margin-bottom: 0;
}

.leftBar {
	display: inline-block;
	width: 35vw;
}

.rightBar {
	right: 0;
	width: 65vw;
	float: right;
}

/*
#socialLinks li  {
	float: right;
}
*/

ul {
	list-style: none;
	top: 0;
	height: 33px;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 33px;
	padding-right: 40px;
}

li {
	display: inline;
	padding-right: 25px;
}

.section {
	height: 724px;
	width: 80vw;
	/* Testing
	outline-width: 1px;
	outline-style: solid;
	outline-color: black;
	*/
	margin-left: 10vw;
	margin-top: 10vh;
	margin-bottom: 10vh;
	/* Note: the backgrounds currently don't scale appropriately with the rest of the screen */
	background-repeat: no-repeat;
}
/*
#sectionTextBack {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	width: 500px;
	height: 250px;
	position: fixed;
}
*/
#sectionText {
	text-align: center;
}

#button {
	border: none;
	text-align: center;
	width: 200px;
	height: 50px;
	display: table;
	border-radius: 0px;
}

#myself {
	left: 0px;
	top: 0px;
}

.mainText {
	padding-top: 30vh;
	margin-left: 45vw;
	width: 35vw;
	height: 100vh;
	text-align: left;
}

#libellum {
	background-color: #232529;
	background-image: linear-gradient(60deg, #232529, #393E44);
	background-size: cover;
}

.laptopImg {
	width: 750px;
	height: 400px;
	margin-left: 35vw;
	background-image: url("Images/laptopImg.png");
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: bottom center;
}

.libText {
	margin-top: 25px;
	margin-left: 10vw;
	padding-top: 60px;
	height: 200px;
	width: 300px;
	background-image: url("Images/logoDarkLight.png");
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
	color: #CECECE;
}

.libButton {
	color: #232529;
	background-color: #0FB686;
	margin-left: 50px;
}

.libButton:hover,
.libButton:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

#industrial {
	background-image: url("Images/speakerFinal.png");
	background-size: contain;
}

.indText {
	color: #232529;
	width: 420px;
	height: 200px;
	float: right;
	padding-top: 50vh;
	padding-right: 0px;
}

.indButton {
	background-color: #FF5080;
	margin-left: 106px;
}

.indButton:hover,
.indButton:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

#disc {
	background-color: #52B6B9;
	background-image: linear-gradient(90deg, #52B6B9, #73F0C0);
	background-size: cover;
	margin-top: 0vh;
}

.discLogo {
	background-image: url("Images/Copy of Logo whitescale.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
	width: 600px;
	height: 300px;
	position: absolute;
	top: 3600px;
	left: 15vw;
}

.discText {
	float: right;
	padding-top: 15vh;
	margin-right: 5vw;
	height: 200px;
	width: 400px;
	color: #000000;
}

.discButton {
	background-color: rgb(229,244,241);
	color: #000000;
	margin-left: 100px;
}

.discButton:hover,
.discButton:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

#dsgn308 {
	background-image: url("Images/dsgn308.JPG");
	background-size: cover;
	margin-top: 0vh;
}

.prodDsgnText {
	padding-top: 10vh;
	margin-right: 30px;
	height: 300px;
	width: 450px;
	color: #FFEC00;
	float: right;
}

.prodDsgnButton {
	background-color: #FFEC00;
	color: #000000;
	margin-left: 106px;
}

.prodDsgnButton:hover,
.prodDsgnButton:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}



  /* DSGN 320 Page */


#sectionHeadImg {
	padding-top: 30px;
	height: 100vh;
	width: 100vw;
}

.Dsgn320 {
	background-image: url("Images/speakerFinalHalf.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

#headText {
	float: right;
	height: 300px;
	width: 500px;
	margin-top: -250px;
	margin-right: 30px;
	color: #000000;

}























