html {
	scroll-behavior: smooth;
}

body {
	margin-left: 0;
}

h1, h2, h3, h4, h5, h6, p {
	-webkit-font-smoothing: antialiased;
}

h1, h3, h4, h6 {
	font-family: montserrat;
}

h5, p {
	font-family: "Source Sans Pro";
}

h5 {
	font-weight: normal;
}

h6 {
	font-size: 18px;
	margin-bottom: 15px;
}

p {
	font-weight: 300;
}

h1 {
	font-weight: lighter;
	font-size: 56px;
}

h3, h4 {
	font-size: 36px;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 0px;
}

h4 {
	color: white;
}

h5 {
	font-size: 24px;
}

li p {
	font-size: 16px;
}

p {
	font-size: 18px;
}

body {
	background-repeat: no-repeat;
	margin-top: 0px;
}

.nav {
	list-style: none;
	text-align: center;
	margin: 0;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	padding: 10px;
}

a {
	font-family: montserrat;
	/*display:table-cell;*/
	vertical-align: middle;
	font-size: 24px;
	margin: 0px;
	/*color: #010400;
	*/
}

a.inline {
	font-family: "Source Sans Pro";
	font-weight: 300;
	font-size: 18px;
}

b {
	font-weight: bold;
	text-decoration: none;
}

.nav a {
	color: #010400;
}

a.small:link {
	text-decoration: none;
}

li.active {
	color: #084887;
	text-decoration: none;
	font-weight: bolder;
}

a.small {
	font-size: 14px;
	display:table-cell;
}

.container {
	display: flex;
}

.container > div {
	flex: 1;
}

#topBar {
	top: 0;
	left: 0;
	position: fixed;
	margin-top: 0;
	height: 40px;
	background-color: white;
	margin-bottom: 0;
	width: 100vw;
	z-index: 3;
}

.leftBar {
	display: inline-block;
	width: 10vw;
	position: fixed;
	top: 0;
	left: 0;
}

.socialLinks {
	width: 10vw;
	position: fixed;
	top: 0;
	left: 90vw;
}

.informative#button {
	background-color: #23f4bd;
	margin-left: 40%;
	margin-bottom: 100px;
	line-height: 50px;
	text-decoration: none;
}


.socialLinks ul {
	margin-top: 0;
	height: 40px;
	line-height: 40px;
}

.socialLinks a {
	text-decoration: none;
	color: #010400;
}


#home.container {
	margin-top: 35px;
	margin-left: 10vw;
	margin-bottom: -100px;
}

.introIMG {
	background-image: url("Images/pictureOfMe.jpg");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	width: 40vw;
	height: 98vh;
}

.introText {
	padding-top: 30vh;
	width: 20vw;
	height: 98vh;
	text-align: left;
	margin-left: 5vw;
}

a.section {
	height: 724px;
	width: 80vw;
}


div.section {
	height: 650px;
	width: 80vw;
	/* Testing
	outline-width: 1px;
	outline-style: solid;
	outline-color: black;
	*/
	margin-left: 10vw;
	margin-top: 10vh;
	margin-right: 10vw;
	margin-bottom: 10vh;
	border-top: 55px solid white;
	/* Note: the backgrounds currently don't scale appropriately with the rest of the screen */
	background-repeat: no-repeat;
	position: relative;
}
/*
#sectionTextBack {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	width: 500px;
	height: 250px;
	position: fixed;
}
*/
#sectionText {
	text-align: center;
}

#sectionText p {
	font-size: 18px;
	font-weight: 400;
}

#sectionText h5 {
	margin-bottom: 20px;
	padding-bottom: 0;
}

#button {
	border: none;
	text-align: center;
	width: 200px;
	height: 50px;
	display: table;
	font-weight: 500;
	border-radius: 2px;
	box-shadow: 4px 4px 4px rgba(0,0,0,.5);
}

#button:hover {
	box-shadow: 8px 8px 4px rgba(0,0,0,.5);
}

#button:active {
	box-shadow: 1px 1px 0px rgba(0,0,0,.5);
	transform: translateY(0.25em);
}

.white {
	color: white;
}

.grey {
	color: #B3C3C4;
}

.section#libellum {
	background-color: #232529;
	background-image: linear-gradient(60deg, #232529, #393E44);
	background-size: cover;
}

.laptopImg {
	width: 40vw;
	margin-left: 35vw;
	margin-top: 50px;
}

.libText {
	position: absolute;
	bottom: 0px;
	margin-left: 10vw;
	padding-top: 60px;
	height: 200px;
	width: 300px;
	background-image: url("Images/logoDarkLight.png");
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
	color: #CECECE;
}

/*
.libButton:hover,
.libButton:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
*/

.section#industrial {
	background-image: url("Images/speakerFinalHalf.jpg");
	background-size: contain;
}

#sectionText.default {
	width: 420px;
	height: 200px;
	float: right;
	padding-right: 0px;
	margin-right: 5vw;
}

#sectionText.dsgn308 {
	margin-top: 65vh;
}

#sectionText.industrial {
	margin-top: 75vh;
}

#sectionText.disc {
	margin-top: 10vh;
}


.footer {
	width: 70vw;
	margin-left: 15vw;
	margin-top: 100px;
	border-top: 2px solid black;
	height: 250px;
}

.leftFoot {
	margin-top: 25px;
	width: 20vw;
	color: black;
	margin-left: 15vw;
	display: inline-block;
}

#button.resume {
	background-color: lightblue;
}

.rightFoot {
	margin-top: 125px;
}

.indButton {
	background-color: #FF5080;
	margin-left: 106px;
}

.indButton:hover,
.indButton:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.section#disc {
	background-color: #52B6B9;
	background-image: linear-gradient(90deg, #52B6B9, #73F0C0);
	background-size: cover;
	margin-top: 0vh;
}

.discLogo {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
	width: 600px;
	height: 300px;
	margin-left: 5vw;
	margin-top: 10vh;
	margin-right: 40vw;
}

.discText {
	float: left;
	padding-top: 20px;
	margin-left: 45vw;
	height: 200px;
	width: 400px;
	color: #000000;
}

.section#dsgn308 {
	background-image: url("Images/dsgn308.JPG");
	background-size: cover;
	margin-top: 0vh;
}

.prodDsgnText {
	padding-top: 10vh;
	margin-right: 30px;
	height: 300px;
	width: 450px;
	color: white;
	float: right;
}




/*			General Page Setup			*/




.splashBackground {
	height: 98vh;
	width: 100vw;
	position: absolute;
	top: 40px;
	left: 0;
	z-index: 1;
}

.splashText {
	position: absolute;
	height: 300px;
	width: 100vw;
	z-index: 2;
}

.splash {
	position: relative;
	height: 100vh;
	width: 100vw;
	z-index: 2;
}

.splashOverlay {
	position: absolute;
	background-repeat: none;
	z-index: 2;
}

.mainText {
	padding-top: 0;
	margin-left: 25vw;
	width: 50vw;
	text-align: center;
	word-wrap: normal;
}


.imageThree {
	width: 33vw;
	height: 33vw;
	position: relative;
}

.imageThree .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.imageThree:hover .content-overlay{
  opacity: 1;
}

.container.two {
	margin-left:20vw;
	margin-right: 20vw;
}

.pic {
	/*width: 100%;*/
	background-position: center;
	height: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  color: white;
}

.imageThree:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.fadeIn-top{
  top: 20%;
}

/*			Sturdy				*/
.splashBackground#sturdy {
	background-image: url('Images/sturdy.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.splashText#default {
	text-align: center;
	color: #000000;
	top: 80%;
}
.splashText#ambi {
	text-align: center;
	color: #000000;
	top: 70%;
}

/*			DSGN 320			*/

.splashBackground#dsgn320 {
	background-image: url("Images/speakerFinalHalf.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.splashBackground#sound {
	background-image: url("Images/speakerFinalHalf.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.splashBackground#stop {
	background-image: url("Images/industrial/Stop/preview.jpg");
	background-size: 45%;
	background-repeat: no-repeat;
	background-position: top;
}

.splashBackground#strap {
	background-image: url("Images/industrial/Bag/preview.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}

.splashBackground#sting {
	background-image: url("Images/industrial/Shoe/final.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 35%;
}

.splashBackground#disc {
	background-image: url("Images/discLogo.png");
	background-repeat: no-repeat;
	background-position: center 30%;
}

.splashBackground#ambi {
	background-image: url("Images/dsgn308.jpg");
	background-repeat: no-repeat;
	background-position: center 30%;
	width: 100%;
	background-size: cover;
}

.splashText#strap {
	text-align: center;
	color: #000000;
	top: 85%;
}

/*			Libellum page 			*/




.splashBackground#lib {
	background-image: linear-gradient(60deg, #232529, #393E44);
}


.splashText#lib {
	color: white;
	text-align: center;
	top: 80%;
}

.splashOverlay#lib {
	background-image: url("Images/libLaptop.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	top: 20%;
	width: 50vw;
	height: 50vh;
	left: 25vw;
}

.informative {
	width: 50%;
	margin-left: 25%;
	margin-top: 150px;
	text-align: left;
}

.informative h3 {
	padding-bottom: 25px;
}

.informative p {
	line-height: 30px;
}

.caseStudyImg {
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 50px;
}

.caption p {
	font-weight: 300;
	font-style: italic;
	font-size: 14px;
	padding-top: 5px;
	margin-top: 0;
}

.threes {
	margin: 5px;
	width: 100%;
	height: 100%;
	background-size: contain;

}

.full.caseStudyImg {
	width: 100%;
}

.half.caseStudyImg {
	margin-left: 25%;
	width: 50%;
}

.caption.half {
	margin-left: 25%;
}

a.button {
	text-decoration: none;
	color: black;
}